{% extends 'administrativeApp/base.html' %}
{% load static %}
{% block contenido %}

<section class="container-fluid ">

  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        NUEVO
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'new_member' %}">Miembro</a></li>
        <li><a class="dropdown-item" href="{% url 'new_member_detail' %}">Datos Personales</a></li>
        <li><a class="dropdown-item" href="{% url 'new_Member_Job' %}">Datos Laborales</a></li>        
        <li><a class="dropdown-item" href="{% url 'new_Member_phone' %}">Telefono</a></li>
        <li><a class="dropdown-item" href="{% url 'new_Member_email' %}">Correo</a></li>
      </ul>
      
    </div>
    
  </div>
  <p>
    
  </p>

  <p></p>
    <table class="table">
      <h3>LISTADO DE DATOS PERSONALES</h3>        
        <thead>
          <tr class="table-success">
            <th scope="col">DNI</th>
            <th scope="col">NOMBRE Y APELLIDO</th>
            <th scope="col">FECHA DE NACIMIENTO</th>
            <th scope="col">DOMICILIO</th>
            <th scope="col">ESTADO CIVIL</th>
            <th scope="col">HIJOS</th>
            <th scope="col"></th>
          </tr>
        </thead>
        {% for member  in listMemberdetail %}
        <tbody>
          <tr>
            <td>{{member.id_member.id_member}}</td>
            <td>{{member.id_member.member_name}}</td>
            <td>{{member.date_bith}}</td>
            <td>{{member.direction}}</td>
            <td>{{member.civil_status.desc_civil}}</td>
            <td>{{member.dependents}}</td>

            <td>
              <a  class="btn btn-outline-danger" href="{% url 'member_detail_update' member.id_member.id_member %}" type="button">Modificar</a>
            </td>
          </tr>
        </tbody>
        {% endfor %}     
      </table>
      <div class="pagination pagination-lg">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previa</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock contenido %}