{% extends 'administrativeApp/base.html' %}
{% load static %}
{% block contenido %}

<section class="container-fluid ">

  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        NUEVO
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'new_member' %}">Miembro</a></li>
        <li><a class="dropdown-item" href="{% url 'new_member_detail' %}">Datos Personales</a></li>
        <li><a class="dropdown-item" href="{% url 'new_Member_Job' %}">Datos Laborales</a></li>        
        <li><a class="dropdown-item" href="{% url 'new_Member_phone' %}">Telefono</a></li>
        <li><a class="dropdown-item" href="{% url 'new_Member_email' %}">Correo</a></li>
      </ul>
      
    </div>
    
  </div>
  <p>
    
  </p>
  <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
    <a type="button" class="btn btn-success" href="{% url 'members' %}">LISTA MIEMBROS</a>
    <a type="button" class="btn btn-success" href="{% url 'member_detail_list' %}">LISTA DETALLES PERSONALES</a>
    <a type="button" class="btn btn-success" href="{% url 'member_job_list' %}">LISTA DETALLES LABORALES</a>
    <a type="button" class="btn btn-success" href="{% url 'member_phone_list' %}">TELEFONOS</a>
    <a type="button" class="btn btn-success" href="{% url 'member_email_list' %}">CORREOS</a>
  </div>
  <p></p>
    <table class="table">
              
        <thead>
          <tr class="table-success">
            <th scope="col">DNI</th>
            <th scope="col">NOMBRE Y APELLIDO</th>
            <th scope="col">NUMERO</th>
            <th scope="col">TIPO</th>
            <th scope="col">ESTADO</th>
            <th scope="col"></th>
          </tr>
        </thead>
        {% for member  in listMemberphone %}
        <tbody>
          <tr>
            <td>{{member.id_member.id_member}}</td>
            <td>{{member.id_member.member_name}}</td>
            <td>{{member.phone1}}</td>
            <td>{{member.type_phone}}</td>
            <td>{{member.status_fone}}</td>

            <td>
              <div class="dropdown">
                  <button class="btn btn-outline-danger  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Acciones
                  </button>
                  <ul class="dropdown-menu">
                    <li><a  class="dropdown-item" href="{% url 'member_phone_delete' member.id_contact %}" type="button">Eliminar</a></li>
                    <li><a  class="dropdown-item" href="{% url 'member_phone_update' member.id_contact %}" type="button">Modificar</a></li>
                  </ul>
                  
                </div>
                
              </td>
          </tr>
 
        </tbody>
        {% endfor %}     
      </table>
      <div class="pagination pagination-lg">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previa</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>

{% endblock contenido %}