{% extends 'newsletterApp/layout.html' %}
{% load static %}
{% block content %}

<section class="container-fluid  ">

    <script type = "text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
            var calendarUI = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarUI, {
            headerToolbar:{
                left: 'prev,next today',
                center: 'title',
                
            },
            events: [
                {% for i in eventlist %}
                {

                    title: '{{i.title}}',
                    start: '{{ i.date_start|date:"Y-m-d" }}',
                    end: '{{ i.date_end|date:"Y-m-d" }}'
                }, 
                {% endfor %} 
            ],
            
            });
            calendar.render();
            calendar.setOption('locale','es');
            });
    </script>
<br>
<div class="container">
    
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
    {% endif %}
    {% if user.is_staff == True and user.is_superuser == True %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'event_new' %}" type="button" class="btn btn-dark"><i class="bi bi-plus-lg"></i></a>
        <a href="{% url 'events_list' %}" type="button" class="btn btn-dark">ADMINISTRAR</a>
      </div>
    {% endif %}  
      <br>
      <br>
    <div id='calendar' class="container "></div>


</div>

</section>

{% endblock content %}


