<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'newsletterApp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'newsletterApp/lib/fullcalendar/lib/main.css' %}">
            <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'newsletterApp/assets/favicon.ico' %}" />
    
    <title>Document</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">NEWSLETTER</div>
            <div class="list-group list-group-flush">
                {% if user.is_staff == True and user.is_superuser == True %}
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'members' %}">Administrador</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'new_post' %}">Nueva Publicacion</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'tags_list' %}">Administrar etiquetas</a>               
                {% endif %}
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Eventos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'list_post_Important' %}">Publicaciones importantes</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Contactanos</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle"><i class="bi bi-list"></i></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'inicio' %}"><i class="bi bi-house-door-fill"></i></a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bienvenido, {{ user.username | lower }}</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#!">Editar Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Desloguarse</a>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                {% block content %}
    
                {% endblock content%}
            </div>
            <br>
        </div>
    </div>


    
    <footer class="card-footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <div class="container-fluid">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="">Contactanos!</a></li>
                        <br>
                        <br>
                        <br>
                    </ul>
                    </div>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
    
    
    <script src="{% static 'newsletterApp/js/scripts.js' %}"></script>
    <script src="{% static 'newsletterApp/lib/fullcalendar/lib/main.js' %}"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>